<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <requestFiltering>
          <!--限制大小1024M-->
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
      <aspNetCore processPath="%LAUNCHER_PATH%" hostingModel="InProcess">
        <handlerSettings>
          <handlerSetting name="enableShadowCopy" value="true" />
          <handlerSetting name="shadowCopyDirectory" value="../EasyTemplateWebShadowCopy/" />
        </handlerSettings>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 22cdb11a-e496-4644-b5ea-05b6b27ac1de-->