@page "/system/alllog/loginlog"
@attribute [ReuseTabsPage(Title = "登录日志管理")]

<Spin Spinning="Loading">
    <Table @ref="_Table" AutoHeight TItem="SystemLogLogin" @bind-PageSize="Ps" @bind-PageIndex="Pi" Total="_total"
           DataSource="_dataSource" @bind-SelectedRows="_selectedRows" OnChange="OnChange">
        <TitleTemplate>
            <Flex Justify="FlexJustify.Start" Gap="@("10")">
                <Input Width="300" Placeholder="输入名称" @bind-Value="@Q_Name" />
                <Button OnClick="Search">搜索</Button>
                <Button OnClick="ResetQuery">重置</Button>
            </Flex>
        </TitleTemplate>
        <ColumnDefinitions Context="row">
            <PropertyColumn Align="ColumnAlign.Center" Property="c=>c.Id" Width="100" Title="ID" />
            <PropertyColumn Align="ColumnAlign.Left" Property="c=>c.Info" Title="日志信息" />
            <PropertyColumn Align="ColumnAlign.Center" Property="c => c.CreateTime" Title="创建时间" Width="200">
                @{
                    var formattedTime = row.CreateTime?.ToString("yyyy-MM-dd HH:mm:ss") ?? "N/A";
                }
                @formattedTime
            </PropertyColumn>
        </ColumnDefinitions>
        <PaginationTemplate>
            <Pagination Class="@(context.PaginationClass + " my-custom-pagination")"
                        Total="context.Total"
                        PageSize="context.PageSize"
                        Current="context.PageIndex"
                        ShowSizeChanger
                        OnChange="context.HandlePageChange" />
        </PaginationTemplate>
    </Table>
</Spin>

@inject ModalService ModalService;
@inject ConfirmService ComfirmService;
@inject IMessageService _message;

@code {

    /// <summary>
    ///
    /// </summary>
    private ITable _Table;
    /// <summary>
    ///
    /// </summary>
    private IEnumerable<SystemLogLogin> _selectedRows = [];
    /// <summary>
    ///
    /// </summary>
    private List<SystemLogLogin> _dataSource;
    /// <summary>
    ///
    /// </summary>
    private int Pi = 1;
    /// <summary>
    ///
    /// </summary>
    private int Ps = 10;
    /// <summary>
    ///
    /// </summary>
    private int _total;
    /// <summary>
    ///
    /// </summary>
    private bool Loading = false;
}
